@{
    ViewData["title"] = "Planet";
}

<h1>Search Result:</h1>

@model Star_Wars_API.Models.Planet

@Model.Name has a population of @Model.Population
Its climate is @Model.Climate and its terrain is @Model.Terrain

